@media screen and (max-width: 1550px) {
	.rate .rate__contain .rate__img{
		position: absolute;
		bottom: -5px;
		width: 500px;
	}
}
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 438px) {
	
}
